@charset "UTF-8";

.body-pay {
            background-color: #F8F8F8;
            color: #333;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        .section-header {
            font-size: 1.75rem;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #333;
            font-weight: bold;
            text-align: center;
        }
        .order-details, .order-summary {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .order-details:hover, .order-summary:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }
        .order-details h4, .order-summary h4 {
            margin-bottom: 20px;
            color: #000;
            font-weight: bold;
            text-align: center;
        }
        .order-summary p {
            margin-bottom: 10px;
        }
        .table-borderless td, .table-borderless th {
            border: 0;
        }
        .total-amount {
            font-size: 1.2em;
            font-weight: bold;
        }
        .note {
            color: #6c757d;
            text-align: center;
        }
        .form-check-label {
            margin-bottom: 10px;
            font-weight: normal;
        }
        .form-check-input {
            margin-right: 10px;
        }
        .btn-success {
            background-color: #067A38;
            border: none;
            padding: 15px;
            font-size: 1.1em;
            font-weight: bold;
            width: 100%;
            transition: background-color 0.3s, transform 0.3s;
        }
        .btn-success:hover {
            background-color: #056530;
            transform: translateY(-2px);
        }
        .btn-success:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(6, 122, 56, 0.5);
        }
        input.form-control, textarea.form-control {
            border: 2px solid #e5e5e5;
            transition: border-color 0.3s;
        }
        input.form-control:focus, textarea.form-control:focus {
            border-color: #067A38;
            box-shadow: none;
        }
}