body {
	background-color: #F5F0DC;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	flex: 1;
}

.cart-container {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.cart-header {
	border-bottom: 2px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.cart-item img {
	width: 50px;
	height: 50px;
}

.cart-item {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.cart-footer {
	padding-top: 10px;
	border-top: 2px solid #ddd;
	margin-top: 20px;
}

.cart-footer>table>tbody>tr>td {
	padding-left: 30px;
}

.total-amount {
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.remove-link {
	color: red;
	cursor: pointer;
}

.remove-link:hover {
	color: rgb(209, 0, 0);
	text-decoration: none;
}

.product-info {
	display: flex;
	align-items: center;
}

.product-info img {
	margin-right: 10px;
}

.quantity-control {
	display: flex;
	align-items: center;
}

.quantity-control button {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	background-color: #f8f9fa;
	cursor: pointer;
}

.quantity-control input {
	width: 50px;
	text-align: center;
	border: 1px solid #ddd;
	margin: 0 5px;
}

footer {
	background-color: #2C6E37;
	color: white;
	padding: 20px 0;
	margin-top: auto;
}

footer .col {
	margin-bottom: 20px;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .social-icons img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}