@charset "UTF-8";
.order-history{
	background-color: #F8F8F8;
	.cart-container {
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;
		margin: 20px auto;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	}
	
	.cart-header {
		border-bottom: 2px solid #ddd;
		margin-bottom: 20px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 24px;
		color: #333;
	}
	
	.table-responsive {
		margin-top: 20px;
	}
	
	.table {
		width: 100%;
		margin-bottom: 1rem;
		background-color: #fff;
		border-collapse: collapse;
	}
	
	.table th, .table td {
		padding: 15px;
		vertical-align: middle;
		border: 1px solid #e9ecef;
		background-color: #fff;
		/* Ensure table cells have a white background */
	}
	
	.table th {
		color: #333;
		font-weight: bold;
	}
	
	.table thead th {
		color: #067A38;
		font-size: 18px;
		font-weight: bold;
	}
	
	.completed {
		color: red;
	}
	
	.btn-buy-again, .btn-review {
		margin-right: 5px;
		border-radius: 4px;
		padding: 6px 12px;
		border: none;
		cursor: pointer;
	}
	
	.btn-buy-again {
		background-color: #28a745;
		color: #fff;
		transition: background-color 0.3s;
	}
	
	.btn-buy-again:hover {
		background-color: #218838;
	}
	
	.btn-review {
		background-color: #ffc107;
		color: #fff;
		transition: background-color 0.3s;
	}
	
	.btn-review:hover {
		background-color: #e0a800;
	}
	
	.btn-secondary {
		background-color: #6c757d;
		color: #fff;
		border-radius: 4px;
		padding: 10px 20px;
		border: none;
		transition: background-color 0.3s;
		cursor: pointer;
	}
	
	.btn-secondary:hover {
		background-color: #5a6268;
	}
	
	.nav-tabs {
		margin:20px auto;
		justify-content: center;
		border-bottom: none;
	}
	
	.nav-tabs .nav-link {
		border: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
		color: #333;
		padding: 10px 15px;
		background-color: #f8f9fa;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		margin: 0 5px;
	}
	
	.nav-tabs .nav-link.active {
		background-color: #fff;
		border-bottom: 2px solid #28a745;
		color: #333;
		font-weight: bold;
	}
	
	.nav-tabs .nav-link:hover {
		background-color: #e9ecef;
		color: #333;
	}
	
	.tab-content {
		border: 1px solid #ddd;
		border-top: none;
		padding: 20px;
		background-color: #fff;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	}
	
	.text-center {
		margin-top: 20px;
	}
	
	.text-center .btn {
		border-radius: 4px;
		padding: 10px 20px;
		font-size: 16px;
		border: none;
		transition: background-color 0.3s;
		cursor: pointer;
	}
	
	.text-center .btn:hover {
		background-color: #5a6268;
		color: #fff;
	}
	
	h3 {
		font-weight: bold;
	}
}	