<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/adminLayout :: dynamic(~{::body})}">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />


</head>

<body>

    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Danh sách người dùng</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Tổng số người dùng</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-arrow-up-right-dots"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">

                            [[${#lists.size(total)}]]

                        </h1>
                        <!-- 									<div class="mb-0"> -->
                        <!-- 										<span class="text-success fw-bold"> <i class="mdi mdi-arrow-bottom-right"></i> 16% -->
                        <!-- 										</span> <span class="text-muted">Tăng trong tháng</span> -->
                        <!-- 									</div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Số người dùng bị khóa</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="fa-solid fa-arrow-up-right-dots"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">

                            [[${#lists.size(inactive)}]]

                        </h1>
                        <!-- 									<div class="mb-0"> -->
                        <!-- 										<span class="text-danger fw-bold"> <i class="mdi mdi-arrow-bottom-right"></i> 16% -->
                        <!-- 										</span> <span class="text-muted">Tăng trong tháng</span> -->
                        <!-- 									</div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="userDetail" style="margin-top:20px;">
            <h4> Chi tiết người dùng </h4>

            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <input type="text" readonly hidden name="idForUpdate" th:value="${idForUpdate}">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Họ và tên:</label>
                            <input th:value="${displayU != null ? displayU.hoVaTen : ''}" name="hoVaTen" type="text"
                                class="form-control" placeholder="Nhập vào họ và tên">
                            <em class="text-danger" th:text="${errFullname}"></em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Tên tài khoản:</label>
                            <input id="tenDangNhap" th:disabled="${editting}" name="tenDangNhap"
                                th:value="${displayU != null ? displayU.tenDangNhap : ''}" type="text"
                                class="form-control" placeholder="Nhập vào tên tài khoản">
                            <em class="text-danger" th:text="${errUsername}"></em>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Mật khẩu:</label>
                            <input id="matKhau" th:disabled="${editting}" name="matKhau"
                                th:value="${displayU != null ? displayU.matKhau : ''}" type="password"
                                class="form-control" placeholder="Nhập vào mật khẩu">
                            <em class="text-danger" th:text="${errPass}"></em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Email:</label>
                            <input id="email" th:disabled="${editting}" name="email"
                                th:value="${displayU != null ? displayU.email : ''}" type="email" class="form-control"
                                placeholder="Nhập vào email">
                            <em class="text-danger" th:text="${errEmail}"></em>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Vai trò:</label>
                            <div class="form-check">
                                <input th:checked="${editting ? displayU.vaiTro : true}" class="form-check-input"
                                    value="Admin" type="radio" name="vaiTro" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Admin
                                </label>
                            </div>
                            <div class="form-check">
                                <input th:checked="${editting ? !displayU.vaiTro : false}" class="form-check-input"
                                    value="User" type="radio" name="vaiTro" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    User
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Trạng thái:</label>
                            <div class="form-check">
                                <input th:checked="${editting ? displayU.trangThai : true}" class="form-check-input"
                                    type="radio" value="Hoạt động" name="trangThai" id="flexRadioDefault3">Hoạt động
                            </div>
                            <div class="form-check">
                                <input th:checked="${editting ? !displayU.trangThai : false}" class="form-check-input"
                                    type="radio" value="Bị khóa" name="trangThai" id="flexRadioDefault4">Bị khóa
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Số điện thoại:</label>
                            <input id="soDienThoai" th:disabled="${editting}"
                                th:value="${displayU != null ? displayU.soDienThoai : ''}" name="soDienThoai"
                                type="text" class="form-control">
                            <em class="text-danger" th:text="${errPhone}"></em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Giới tính:</label>
                            <div class="form-check">
                                <input th:checked="${editting ? displayU.gioiTinh : true}" class="form-check-input"
                                    value="Nam" type="radio" name="gioiTinh" id="flexRadioDefault5">
                                <label class="form-check-label" for="flexRadioDefault5">
                                    Nam
                                </label>
                            </div>
                            <div class="form-check">
                                <input th:checked="${editting ? !displayU.gioiTinh : false}" class="form-check-input"
                                    value="Nữ" type="radio" name="gioiTinh" id="flexRadioDefault6">
                                <label class="form-check-label" for="flexRadioDefault6">
                                    Nữ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Chọn ảnh:</label>
                            <input name="hinhAnh" type="file" class="form-control">
                        </div>
                    </div>
                </div>

                <button th:disabled="${editting}" th:formaction="@{/adminIndex/quan-ly-nguoi-dung/insert}"
                    class="btn btn-info">Thêm</button>
                <button onclick="enableFields()" th:disabled="${!editting}"
                    th:formaction="@{|/adminIndex/quan-ly-nguoi-dung/update/${displayU != null ? displayU.maTaiKhoan : ''}|}" class="btn btn-info">Cập
                    nhật</button>
                <button th:formaction="@{/adminIndex/quan-ly-nguoi-dung/cancel}" class="btn btn-info">Làm mới</button>
            </form>
        </div>

        <div class="userList" style="margin-top:20px;">
            <h4 class="text-center">Danh sách người dùng</h4>
            <form method="get" action="/adminIndex/quan-ly-nguoi-dung">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <select name="sort" class="form-select" aria-label="Default select example">
                                <div th:if="${not #strings.isEmpty(displaySelected)}">
                                    <option th:selected="true" hidden
                                    th:text="${displaySelected}"></option>
                                </div>
                                <div th:unless="${not #strings.isEmpty(displaySelected)}">
                                    <option  disabled selected hidden>
                                        Chọn bộ lọc</option>
                                </div>
                                <option value="Tên tài khoản">Tên tài khoản</option>
                                <option value="Số điện thoại">Số điện thoại</option>
                                <option value="Email">Email</option>
                                <option value="Họ và tên">Họ và tên</option>
                            </select>
                            <input th:value="${param.search}" name="search" type="search" class="form-control"
                                placeholder="Tìm kiếm" aria-describedby="basic-addon2">
                            <button type="submit" class="input-group-text btn btn-success" id="basic-addon2">Tìm
                                kiếm</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-hover table-light">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Mã tài khoản</th>
                        <th>Tên tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Số ĐT</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                        <th>Giới tính</th>
                        <th>Ảnh</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user, index : ${users}" class="text-center">
                        <td th:text="${user.maTaiKhoan}"></td>
                        <td th:text="${user.tenDangNhap}"></td>
                        <td>
                            <input class="text-center" id="pass" readonly="readonly" type="password"
                                th:value="${user!=null ? user.matKhau : ''}">
                        </td>
                        <td th:text="${user.hoVaTen}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.soDienThoai}"></td>
                        <td th:text="${user.vaiTro == true ? 'Admin' : 'Khách hàng'}"></td>
                        <td>
                            <span class="badge"
                                th:classappend="${user.trangThai == true ? 'bg-success' : 'bg-danger' }">[[${user.trangThai
                                == true ? 'Hoạt động' : 'Bị khóa' }]]</span>
                        </td>
                        <td th:text="${user.gioiTinh ? 'Nam' : 'Nữ'}"></td>

                        <td><img th:src="@{|/image/avatars/${user.hinhAnh}|}" style="width: 15%" /></td>
                        <td>
                            <a
                                th:href="@{|/adminIndex/quan-ly-nguoi-dung/${user.maTaiKhoan}?pageNo=&pageSize=${pageSize}&search=${search}&sort=${sort}|}"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center" th:if="${totalPages==0}">
                <p class="fw-bold">Không tìm thấy người dùng tương ứng</p>
            </div>

            <div th:unless="${totalPages==0}" class="d-flex justify-content-between" style="margin-top:25px;">
                <!-- Vị trí hiển thị số trang -->
                <p class="fw-bold">Đang xem trang [[${currentPage}]] / [[${totalPages}]]</p>

                <!-- Cập nhật nút phân trang -->
                <nav class="pagination-outer" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage <= 1 ? 'disabled' : ''}">
                            <a th:href="@{|/adminIndex/quan-ly-nguoi-dung?pageNo=${currentPage - 1}&pageSize=${pageSize}&search=${search}&sort=${sort}|}"
                                class="page-link" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == page ? 'active' : ''}">
                            <a class="page-link"
                                th:href="@{|/adminIndex/quan-ly-nguoi-dung?pageNo=${page}&pageSize=${pageSize}&search=${search}&sort=${sort}|}">
                                [[${page}]]
                            </a>
                        </li>
                        <li class="page-item"
                            th:classappend="${(totalPages == 0 || currentPage >= totalPages) ? 'disabled' : ''}">
                            <a th:href="@{|/adminIndex/quan-ly-nguoi-dung?pageNo=${currentPage + 1}&pageSize=${pageSize}&search=${search}&sort=${sort}|}"
                                class="page-link" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="fw-bold">5 sản phẩm / 1 trang</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
		function enableFields() {
		    document.getElementById("matKhau").disabled = false;
		    document.getElementById("tenDangNhap").disabled = false;
		    document.getElementById("email").disabled = false;
		    document.getElementById("soDienThoai").disabled = false;
		}
	</script>

    <!-- SweetAlert2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	<!-- Thêm mã JavaScript -->
	<script type="text/javascript">
	    // Hàm hiển thị thông báo thành công
	    function showSuccessAlert(message) {
	        Swal.fire({
	            icon: 'success',
	            title: 'Thành công!',
	            text: message,
	            showConfirmButton: true
	        });
	    }
	
	    // Hàm hiển thị thông báo lỗi
	    function showErrorAlert(message) {
	        Swal.fire({
	            icon: 'error',
	            title: 'Thất bại!',
	            text: message,
	            showConfirmButton: true
	        });
	    }
	</script>

    <!-- Sử dụng Thymeleaf để truyền thông tin -->
    <div th:if="${param.insert !=null}">
        <div th:switch="${param.insert[0]}">
            <div th:case="'success'">
                <script type="text/javascript">
                    showSuccessAlert("Thêm người dùng thành công!");
                </script>
            </div>
            <div th:case="'fail'">
                <div th:switch="${param.cause[0]}">
                    <div th:case="'tenDangNhap'">
                        <script type="text/javascript">
                            showErrorAlert("Tên đăng nhập đã tồn tại!");
                        </script>
                    </div>
                    <div th:case="'email'">
                        <script type="text/javascript">
                            showErrorAlert("Email đã tồn tại!");
                        </script>
                    </div>
                    <div th:case="'soDienThoai'">
                        <script type="text/javascript">
                            showErrorAlert("Số điện thoại đã tồn tại!");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiển thị thông báo cho update -->
    <div th:if="${param.update !=null}">
        <div th:switch="${param.update[0]}">
            <div th:case="'success'">
                <script type="text/javascript">
                    showSuccessAlert("Cập nhật người dùng thành công!");
                </script>
            </div>
            <div th:case="'fail'">
                <div th:switch="${param.cause[0]}">
                    <div th:case="'tenDangNhap'">
                        <script type="text/javascript">
                            showErrorAlert("Tên đăng nhập đã tồn tại!");
                        </script>
                    </div>
                    <div th:case="'email'">
                        <script type="text/javascript">
                            showErrorAlert("Email đã tồn tại!");
                        </script>
                    </div>
                    <div th:case="'soDienThoai'">
                        <script type="text/javascript">
                            showErrorAlert("Số điện thoại đã tồn tại!");
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HIỂN THỊ THÔNG BÁO KHI KHÔNG TÌM THẤY NGƯỜI DÙNG -->
    <div th:if="${param.notFound != null && param.notFound[0] == 'true'}">
        <script type="text/javascript">
            showErrorAlert("Không tìm thấy người dùng!");
        </script>
    </div>


    <script th:src="@{/js/app.js}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


    <script th:href="@{/js/app.js}"></script>

</body>

</html>